Editing: {{post.title}}  ID: {{post.id}}
<form name='edit_form'  ng-submit="submitEdit()" class='form-group'>
  <label for="">Title</label>
  <input name='title' type="text"  ng-model="post.title">
  <label for="">Image URL</label>
  <input name='image_url' type="text"  ng-model="post.image_url">
  <label for="">Descrition</label>
  <textarea name='description' type="text"  ng-model="post.description">

  <input class="btn btn-primary"type="submit">
<a ui-sref="home" class="btn btn-info">Cancel</a>
</form>
<!-- <div class="text-center">
  <h1>{{post.title}}</h1>
  <h1>{{post.image_url}}</h1>
  <h1>{{post.description}}</h1>
  <img ng-src="{{post.image_url}}" alt="post"/>
</div> -->
