.conatiner {
  overflow:scroll;
  height:80vh;
}
.thumbnail {
  margin-top: 2%
}
.fade {
  opacity: 1;
  transition: .5s;
}
.fade.ng-hide {
  opacity: 0;
}
.has-error {
  border: 3px solid red;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.help-block {
  color: red;
}
.post-block.ng-enter {
  transition:1s ease all;
  opacity:0;
  transform: translateX(100%);
}
.form-group .signup{
  width:300px;
}
.hidden {
  display: none;
}
.comments{
  overflow: scroll;
  height:150px;

}
