Editing: {{post.title}}  ID: {{post.id}}

<div class="col-md-4">
  <form name='edit_form' class='form-group'>
    <label  for="">Title</label>
    <input class="form-control" name='title' type="text"  ng-model="post.title">
    <label for="">Image URL</label>
    <input class="form-control" name='image_url' type="text"  ng-model="post.image_url">
    <label  for="">Description</label>
    <textarea class="form-control" name='description' type="text"  ng-model="post.description"></textarea>
</form>
<button class="btn btn-primary"ng-click="submitEdit()">Submit</button>
<a ui-sref="home" class="btn btn-info">Cancel</a>
</div>
